<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lz.workflow.mapper.FlowDesignMapper">
    <select id="getBySymbol" resultType="org.lz.workflow.domain.FlowDesign">
        select * from flow_design where symbol = #{symbol} order by version desc limit 1
    </select>

    <select id="getCountBySymbolAndVersion" resultType="java.lang.Integer">
        select count(*)
        from flow_design
        where symbol = #{symbol} and version = #{version} limit 1
    </select>

    <select id="getBySymbolAndVersion" resultType="org.lz.workflow.domain.FlowDesign">
        select * from flow_design where symbol = #{symbol} and version = #{version} limit 1
    </select>
</mapper>
