<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lz.workflow.mapper.FlowTaskMapper">
    <insert id="saveRunningTask">
        insert into flow_running_task (id,
                                       flow_id,
                                       node_symbol,
                                       name,
                                       flow_symbol,
                                       executor,
                                       start_time,
                                       type,
                                       version)
        values (#{id},
                #{flowId},
                #{nodeSymbol},
                #{name},
                #{flowSymbol},
                #{executor},
                #{startTime},
                #{type},
                #{version})
    </insert>

    <insert id="saveHistoryTask">
        insert into flow_history_task (id,
                                       flow_id,
                                       node_symbol,
                                       name,
                                       flow_symbol,
                                       executor,
                                       start_time,
                                       end_time,
                                       type,
                                       version)
        values (#{id},
                #{flowId},
                #{nodeSymbol},
                #{name},
                #{flowSymbol},
                #{executor},
                #{startTime},
                #{endTime},
                #{type},
                #{version})
    </insert>

    <insert id="endHistoryTask">
        update flow_history_task
        set end_time = now()
        where id = #{taskId}
    </insert>

    <insert id="saveTaskVariables">
        insert into
        <choose>
            <when test="isRunning">
                flow_running_variables
            </when>
            <otherwise>
                flow_history_variables
            </otherwise>
        </choose>
        (
        task_id,
        flow_id,
        name,
        val)
        values
        <foreach collection="variables" index="key" item="val" separator=",">
            (
            #{taskId},
            #{flowId},
            #{key},
            #{val})
        </foreach>
    </insert>

    <update id="endFlow">
        update flow_history
        set end_time = now(),
            state    = 'FINISHED'
        where id = #{flowId}
    </update>

    <update id="endTaskByFlowId">
        update flow_history_task
        set end_time = now()
        where flow_id = #{flowId}
    </update>

    <update id="destroyFlow">
        update flow_history
        set end_time = now(),
            state    = 'DESTROYED'
        where id = #{flowId}
    </update>

    <update id="updateRunningTaskVariables">
        update flow_running_variables
        set val = case name
        <foreach collection="variables" index="key" item="val">
            when #{key} then #{val}
        </foreach>
        end
        where flow_id = #{flowId}
        <choose>
            <when test="taskId != null">
                and task_id = #{taskId}
            </when>
            <otherwise>
                and task_id is null
            </otherwise>
        </choose>
        and name in
        <foreach collection="variables" index="key" item="val" open="(" close=")" separator=",">
            #{key}
        </foreach>
    </update>

    <update id="updateHistoryTaskVariables">
        update flow_history_variables
        set val = case name
        <foreach collection="variables" index="key" item="val">
            when #{key} then #{val}
        </foreach>
        end
        where flow_id = #{flowId}
        <choose>
            <when test="taskId != null">
                and task_id = #{taskId}
            </when>
            <otherwise>
                and task_id is null
            </otherwise>
        </choose>
        and name in
        <foreach collection="variables" index="key" item="val" open="(" close=")" separator=",">
            #{key}
        </foreach>
    </update>

    <delete id="deleteFlow">
        delete
        from
        <choose>
            <when test="isRunning">
                flow_running
            </when>
            <otherwise>
                flow_history
            </otherwise>
        </choose>
        where id = #{flowId}
    </delete>

    <delete id="deleteTaskVariables">
        delete
        from
        <choose>
            <when test="isRunning">
                flow_running_variables
            </when>
            <otherwise>
                flow_history_variables
            </otherwise>
        </choose>
        where task_id = #{taskId}
    </delete>

    <delete id="deleteTaskByFlowId">
        delete
        from
        <choose>
            <when test="isRunning">
                flow_running_task
            </when>
            <otherwise>
                flow_history_task
            </otherwise>
        </choose>
        where flow_id = #{flowId}
    </delete>

    <delete id="deleteTaskVariablesByFlowId">
        delete
        from
        <choose>
            <when test="isRunning">
                flow_running_variables
            </when>
            <otherwise>
                flow_history_variables
            </otherwise>
        </choose>
        where flow_id = #{flowId}
    </delete>

    <delete id="deleteByFlowId">
        delete
        from
        <choose>
            <when test="isRunning">
                flow_running
            </when>
            <otherwise>
                flow_history
            </otherwise>
        </choose>
        where id = #{flowId}
    </delete>

    <select id="selectRunningTaskCountByFlowId" resultType="java.lang.Integer">
        select count(*)
        from flow_running_task
        where flow_id = #{flowId}
    </select>

    <select id="selectTaskVariablesByTaskIdAndNames" resultType="java.lang.String">
        select name
        from
        <choose>
            <when test="isRunning">
                flow_running_variables
            </when>
            <otherwise>
                flow_history_variables
            </otherwise>
        </choose>
        where flow_id = #{flowId}
        <choose>
            <when test="taskId != null">
                and task_id = #{taskId}
            </when>
            <otherwise>
                and task_id is null
            </otherwise>
        </choose>
        and name in
        <foreach collection="names" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <select id="selectHistoryTaskVariablesByTaskIdAndNames" resultType="java.lang.String">
        select name
        from flow_history_variables
        where flow_id = #{flowId}
        <choose>
            <when test="taskId != null">
                and task_id = #{taskId}
            </when>
            <otherwise>
                and task_id is null
            </otherwise>
        </choose>
        and name in
        <foreach collection="names" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>
</mapper>
